<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sh Control Panel </title>
    <link href="{{ asset('/cp/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/cp/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/cp/vendors/nprogress/nprogress.css') }}" rel="stylesheet">
    <link href="{{ asset('/cp/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
    <link href="{{ asset('/cp/build/css/custom.min.css') }}" rel="stylesheet">
</head>

<body class="nav-md" ng-app="App">
<div class="container body" ng-controller="MainController">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/sale" class="site_title"><i class="fa fa-paw"></i> <span>Sh Control Panel</span></a>
                </div>
                <div class="clearfix"></div>
                <div class="profile clearfix">
                    <div class="profile_pic">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                    </div>
                </div>
                <br />
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section" ng-controller="MenuController">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li>
                                <a href="{{ path('user_index') }}">
                                    <i class="fa fa-users"></i> İstifadəçilər
                                </a>

                            </li>
                            <li>
                                <a href="{{ path('regime_index') }}">
                                    <i class="fa fa-bank"></i> Rejim
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Settings">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="FullScreen" onclick="toggleFullScreen(document.body)">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Lock">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Logout" href="/logout">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:;"> Profile</a></li>
                                <li>
                                    <a href="javascript:;">
                                        <span ng-click="changePassword()">Change Password</span>
                                    </a>
                                </li>
                                <li><a href="javascript:;">Help</a></li>
                                <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                        </li>
                    </ul>

                    <div class="modal fade bs-example-modal-sm" id="changePassword" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel2">Edit Category</h4>
                                </div>
                                <div class="modal-body">
                                    <table>
                                        <tr>
                                            <td>Current Password</td>
                                            <td><input type="password" ng-model="password.current" /></td>
                                        </tr>
                                        <tr>
                                            <td>New Password</td>
                                            <td><input type="password" ng-model="password.new" /></td>
                                        </tr>
                                        <tr>
                                            <td>Confirm Password</td>
                                            <td>
                                                <input type="password" ng-model="password.confirm" />
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" ng-click="updatePassword('')" ng-show="(password.new == password.confirm) && password.new.length > 4">Save changes</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                    </div>

                    <div class="title_right">
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
<script src="{{ asset('/cp/vendors/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('/cp/vendors/ajaxform/ajaxform.js') }}"></script>
<script type="text/javascript" src="{{ asset('/cp/vendors/angular.js/angular.js') }}" ></script>
<script type="text/javascript" src="{{ asset('/cp/vendors/angular.js/angular-route.min.js') }}" ></script>
<script type="text/javascript" src="{{ asset('/cp/vendors/angular.js/main.js') }}" ></script>
<!-- Bootstrap -->
<script src="{{ asset('/cp/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="{{ asset('/cp/build/js/custom.min.js') }}"></script>
<script>
    function toggleFullScreen(elem) {
        // ## The below if statement seems to work better ## if ((document.fullScreenElement && document.fullScreenElement !== null) || (document.msfullscreenElement && document.msfullscreenElement !== null) || (!document.mozFullScreen && !document.webkitIsFullScreen)) {
        if ((document.fullScreenElement !== undefined && document.fullScreenElement === null) || (document.msFullscreenElement !== undefined && document.msFullscreenElement === null) || (document.mozFullScreen !== undefined && !document.mozFullScreen) || (document.webkitIsFullScreen !== undefined && !document.webkitIsFullScreen)) {
            if (elem.requestFullScreen) {
                elem.requestFullScreen();
            } else if (elem.mozRequestFullScreen) {
                elem.mozRequestFullScreen();
            } else if (elem.webkitRequestFullScreen) {
                elem.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
            } else if (elem.msRequestFullscreen) {
                elem.msRequestFullscreen();
            }
        } else {
            if (document.cancelFullScreen) {
                document.cancelFullScreen();
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if (document.webkitCancelFullScreen) {
                document.webkitCancelFullScreen();
            } else if (document.msExitFullscreen) {
                document.msExitFullscreen();
            }
        }
    }
</script>
</body>
</html>