{% extends 'admin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table" ng-controller="UsersController">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Regime</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                <td>
                     <span class="regime_{{ user.id }}" ng-show="!editable_regime[{{ user.id }}]">{{ user.regime_name }}</span><i class="fa fa-edit" ng-click="editable_regime[{{ user.id }}] = true"></i>
                     <span ng-show="editable_regime[{{ user.id }}]">
                         <select ng-model="regime" ng-change="changeRegime({{ user.id }})">
                             <option ng-repeat="item in regimes" value="<% item %>"><% item.name %></option>
                         </select>
                     </span>
                </td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Create new</a>

{% endblock %}
