{% extends 'admin.html.twig' %}

{% block title %}Regime index{% endblock %}

{% block body %}
    <div ng-controller="RegimeController">

    <style>
        .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
        .toggle.ios .toggle-handle { border-radius: 20px; }
    </style>

    <style>
        .toggle.android { border-radius: 0px;}
        .toggle.android .toggle-handle { border-radius: 0px; }
    </style>
    <h1>Regime index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for regime in regimes %}
            <tr>
                <td>{{ regime.id }}</td>
                <td>{{ regime.name }}</td>
                <td>{{ regime.active }}</td>
                <td>
                    <a href="{{ path('regime_show', {'id': regime.id}) }}">show</a>
                    <a class="edit" ng-click="edit( {{ regime.id }}, '{{ regime.name }}')">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#new">
        Yeni
    </button>

    <div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form  action="/admin/regime/new" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="Ad">
                        </div>
                        <table class="table table-condensed">
                            <tr>
                                <td> Həftənin günü </td>
                                <td> İş saatları </td>
                                <td> Nahar fasiləsi </td>
                                <td> Ümumi saat </td>
                                <td> Status </td>
                            </tr>

                        {% for key, value in weekdays %}
                            <tr>
                                <td>{{ value }}</td>
                                <td class="form-group">
                                    <input type="text" class="form-control pull-left" name="_from[{{ key }}]" style="width: 70px; margin: 10px;">
                                    <input type="text" class="form-control pull-left" name="_to[{{ key }}]" style="width: 70px; margin: 10px;">
                                </td>
                                <td>
                                    <input type="text" class="form-control pull-left" name="break_from[{{ key }}]" style="width: 70px; margin: 10px;">
                                    <input type="text" class="form-control pull-left" name="break_to[{{ key }}]" style="width: 70px; margin: 10px;">
                                </td>
                                <td class="total">

                                </td>
                                <td>
                                    <input type="checkbox" checked data-toggle="toggle" data-style="ios" data-onstyle="success" name="active[{{ key }}]">
                                </td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form >
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="selected_record_name" name="name" placeholder="Ad">
                        </div>
                        <table class="table table-condensed">
                            <tr>
                                <td> Həftənin günü </td>
                                <td> İş saatları </td>
                                <td> Nahar fasiləsi </td>
                                <td> Ümumi saat </td>
                                <td> Status </td>
                            </tr>

                            {% for key, value in weekdays %}
                                <tr>
                                    <td>{{ value }}</td>
                                    <td class="form-group">
                                        <input type="hidden" ng-model="selected_record[{{ key }}].weekday" value="{{ key }}">
                                        <input type="text" class="form-control pull-left" ng-model="selected_record[{{ key }}].from" style="width: 70px; margin: 10px;">
                                        <input type="text" class="form-control pull-left" ng-model="selected_record[{{ key }}].to" style="width: 70px; margin: 10px;">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control pull-left" ng-model="selected_record[{{ key }}].breakFrom" style="width: 70px; margin: 10px;">
                                        <input type="text" class="form-control pull-left" ng-model="selected_record[{{ key }}].breakTo" style="width: 70px; margin: 10px;">
                                    </td>
                                    <td class="total">
                                    </td>
                                    <td>
                                        <input type="checkbox" data-toggle="toggle" data-style="ios" data-onstyle="success"  ng-model="selected_record[{{ key }}].active" name="selected_active[{{ key }}]" class="editable_checkbox" key="{{ key }}">
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" ng-click="saveChanges()">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





{% endblock %}
