{% extends 'base.html.twig' %}

{% block title %}Regime{% endblock %}

{% block body %}
    <h1>Regime</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ regime.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ regime.name }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ regime.active }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('regime_index') }}">back to list</a>

    <a href="{{ path('regime_edit', {'id': regime.id}) }}">edit</a>

    {{ include('regime/_delete_form.html.twig') }}
{% endblock %}
